[2018-08-21 08:25] polettif opened #1 "general discussion of repository structure"
Hey, I appreciate your effort to separate the different "modules" and I'm looking forward to seeing where this package might end up. As I don't know much about developing R packages, I don't yet understand how this repository and the others (trread, ...) are connected? Is it the same code duplicated and separate or is it automatically cloned/imported in some way?

[2018-08-21 15:46] tbuckl commented on #1
hi @polettif i'm also learning when it comes to R packages.

currently i'm thinking that there could be 2 packages:

1) tidytransit - GTFS package with full `sf` dependency.
2) trread - GTFS package with no or only partial `sf` dependency.

originally i had thought 4 separate packages that could be installed through a meta-package modeled on [tidyverse](https://github.com/tidyverse/tidyverse).

bu

[2018-08-21 15:47] tbuckl commented on #1
@polettif have you ever installed `tidyverse` packages via the tidyverse metapackage?

[2018-08-22 04:27] tbuckl commented on #1
@polettif i updated the organization landing page text to describe this better. https://github.com/r-transit/r-transit.github.io/commit/f9fadb21e3230410f133e92f7ff4a1b6d2ac11aa#diff-d680e8a854a7cbad6d490c445cba2eba

sorry for the confusion. let me know if i can do anything else to clarify things.

[2018-08-22 04:29] tbuckl commented on #1
@polettif also, if you have any examples how how this kind of thing is handled, whether in R or other languages, i'd be curious to see them. i imagine there's some helpful work on there on this.

[2018-08-22 04:32] tbuckl commented on #1
@polettif another potential option is to do the minimum to get map data working, as suggested here by mark: https://github.com/r-transit/trread/issues/5, and just keep development in that 1 package only.

[2018-08-22 08:53] polettif commented on #1
Thanks for your answer, couple of points:
- Are the repositories bustt, gtsf and transitfeedr deprecated since they're fully included in tidytransit? If so, this should be noted somewhere and I'd move away from calling tidytransit a package consisting of any other package. Instead I'd say, what the package is able to do. It might end up as the same catch-all package as gtfsr, albeit with a CRAN re

[2018-08-25 15:29] tbuckl opened #2 "benchmark memory limits"
report of memory limitations. unclear what feed:

https://twitter.com/teebuckl/status/1033066113368616960

[2018-08-30 02:54] tbuckl opened #3 "make route_type (as text value) easily accessible for filtering/analysis"
route_type is useful for analysis and can be easily pulled from the routes_df

type descriptions:

https://gist.github.com/derhuerst/b0243339e22c310bee2386388151e11e

deprecated types:

https://sites.google.com/site/gtfschanges/proposals/route-type

[2018-08-30 05:28] tbuckl opened #4 "make import-->routes/frequency mapping simpler"
it should be relatively easy to implement a simpler version of going from import_gtfs to plot(gtfs_obj) and would make this kind of workflow more intuitive.

see here for more on why this matters: https://github.com/r-transit/tidytransit/commit/4af025efd6fbf37ac84dcdcb15a21cee5b36c595

[2018-08-30 05:31] tbuckl commented on #2
tried this out on SF (8 MB) on 8GB RAM seems fine with most readme functions.

[2018-08-30 05:32] tbuckl opened #5 "move usage examples from main readme to vignettes"
this should make contribution simpler.

[2018-08-30 06:34] #5 closed

[2018-08-30 07:14] #4 closed

[2018-08-30 07:14] #2 closed

[2018-08-30 07:14] tbuckl commented on #1
hi @polettif i'm going to close this out for now. feel free to reopen if you want to discuss further.

[2018-08-30 07:14] #1 closed

[2018-08-30 09:36] polettif opened #6 "read non-gtfs-spec column names in parse_gtfs"
When using the [google sample feed](https://developers.google.com/transit/gtfs/examples/sample-feed.zip), the resulting stop_times_df looks like
[code]

The problem seems to be that the column "drop_off_time" is not a valid column name which is pretty strange for an example feed. Also there are commas missing from line 17 on but that's not the point.

My question is: Why are only required/expected

[2018-08-30 12:36] angela-li opened #7 "make it easier for developers to use this package"
I think we can find a way to rewrite the functions so that there's a parameter in function calls for `sf=TRUE`. Otherwise, we can just show lat and long in the dataframes that are returned, because that's what's in GTFS data anyway.

Will look into this later.

[2018-08-30 12:44] angela-li opened #8 "Encourage people to download development version on README.md"
Since the version on CRAN is a bit different, in terms of functions available. We want people to keep up with our newest developments!

[2018-08-30 12:46] angela-li opened #9 "Add CONTRIBUTING.md and CONDUCT.md"
It's always good to have something explicit! Use ggplot2 [CONTRIBUTING.md](https://github.com/tidyverse/ggplot2/blob/master/CONTRIBUTING.md) and sf [CONDUCT.md](https://github.com/r-spatial/sf/blob/master/CONDUCT.md) as examples.

[2018-08-30 12:46] angela-li opened #10 "improve the documentation of the headway/frequency functions"

[2018-08-30 14:08] tbuckl commented on #8
yes definitely. i do hate to tell people they *should* be using devtools/github, which can be hard if they don't admin their computer. might make sense to clarify that the reference and docs online are for development version and that the cran version has different docs.

[2018-08-30 15:09] tbuckl commented on #8
closed by https://github.com/r-transit/tidytransit/commit/44ec217c6705058ae2f8f64c44e25188c72badb4

[2018-08-30 15:09] #8 closed

[2018-09-01 06:31] tbuckl commented on #9
done https://github.com/r-transit/tidytransit/commit/bc976747ef1cadbc74c2be1ee1b6363fbcefea8b

[2018-09-01 06:31] #9 closed

[2018-09-02 00:10] tbuckl commented on #6
thanks @polettif good point.

outstanding tasks for getting parse_gtfs into a spot where it handles unspecified column names are:

clean up variable names here:

https://github.com/r-transit/tidytransit/blob/33c965902fe8a07aea3207b7fd73c620cc526a73/R/import.R#L311-L330

there is a vector colnms and a colnames.

define specified types using readr compatible types (e.g. col_double) rather than "d" s

[2018-09-02 16:00] tbuckl opened #11 "rename import_gtfs to read_gtfs"
to more closely mirror api's like read_csv

[2018-09-02 16:01] tbuckl opened #12 "calculate route and stop frequencies in read_gtfs"
so that they are just immediately available.

[2018-09-02 16:01] tbuckl opened #13 "make plot(gtfs_obj) plot routes with frequencies by default"

[2018-09-02 16:08] #11 closed

[2018-09-02 16:31] #12 closed

[2018-09-02 19:50] tbuckl opened #14 "submit new cran release"
there have been enough changes that its about time

[2018-09-02 20:13] #14 closed

[2018-09-02 22:48] walkerke opened #15 "Incorrect route linestrings in `.$routes_sf`"
Great idea for a package!  However I am noticing some issues with the output on my first use, looking at L train routes in Chicago.  A reproducible example:

[code]
![image](https://user-images.githubusercontent.com/4872833/44961528-19927e00-aed8-11e8-8b6f-7e700c341b8b.png)

This is the Yellow Line, not the Pink Line.  I'm wondering if some of the rows are getting shuffled when they are converted

[2018-09-02 22:56] tbuckl commented on #15
thanks @walkerke ill take a look too.

[2018-09-02 23:00] tbuckl commented on #15
thanks @walkerke this is a good test case. thats a massive GTFS file.

[2018-09-02 23:13] tbuckl commented on #15
i am seeing that too.

[2018-09-02 23:34] tbuckl commented on #15
its probably happening in here:

https://github.com/r-transit/tidytransit/blob/master/R/spatial.R#L32-L37

[2018-09-02 23:58] tbuckl commented on #15
@walkerke pretty sure this is just due to the ordering of the processing in there. i think i should be able to fix it today. thanks so much for taking a look! sorry i'm a dufus!

[2018-09-03 00:08] tbuckl commented on #15
@walkerke this is looking fixed to me, [thanks](https://github.com/r-transit/tidytransit/blob/master/DESCRIPTION#L15)!

[2018-09-03 00:08] #15 closed

[2018-09-03 00:09] tbuckl commented on #15
@walkerke feel free to re-open if its not looking right for you.

[2018-09-03 00:14] tbuckl opened #16 "write a vignette using tidycensus"
based on https://github.com/r-transit/tidytransit/issues/15 its clear that we need better examples to review and test functionality.

a vignette using tidycensus might be great for this.

[2018-09-03 15:32] tbuckl opened #17 "write a vignette on calculated tables and their relationship to standard tables"

[2018-09-03 15:51] tbuckl opened #18 "clarify how the most frequent service id is identified"
perhaps as its own function.

this is confusing:

https://github.com/r-transit/tidytransit/blob/master/R/frequencies.R#L34-L59

[2018-09-03 16:27] #17 closed

[2018-09-03 16:52] tbuckl commented on #18
this starts to do this: http://tidytransit.r-transit.org/articles/GTFS-table-relationships.html#headways-at-stops-for-a-route

[2018-09-03 16:52] #18 closed

[2018-09-03 16:54] tbuckl commented on #10
@angela-li not sure if this will help, but i think service_id selection is going to be a key part of making frequency calculation more robust: https://github.com/r-transit/tidytransit/issues/18

[2018-09-05 14:10] polettif opened #19 "remove optional gtfs files on read?"
While working on #6 I came across specifications for files that are not defined in [gtfs reference](https://developers.google.com/transit/gtfs/reference/) like [directions and stop_attributes](https://github.com/r-transit/tidytransit/blob/c3e748280a6a2ca272ee58b68a81c36ad359b497/R/validate.R#L68).

I guess there's is an extended or additional specification I'm not aware of?

[2018-09-05 14:51] tbuckl commented on #19
@polettif thanks, those do not look like files in the existing spec. we can remove them.

[2018-09-05 14:55] tbuckl commented on #19
actually, i'm wondering if it would be better to default to read files like this in case a provider includes them?

[2018-09-05 14:56] tbuckl commented on #19
there are examples of extensions to gtfs, such as [GTFS-PLUS](https://github.com/osplanning-data-standards/GTFS-PLUS) that would include unexpected files.

[2018-09-05 15:27] tbuckl commented on #19
what do you think @polettif? maybe an default argument like:

[code]

[2018-09-05 23:49] walkerke commented on #16
great idea @tbuckl!  I've been thinking through ways the packages can work together as well.  Let me know if I can be of help.

[2018-09-06 15:10] tbuckl commented on #16
thanks @walkerke! i might ask you to look at a vignette when its ready.

[2018-09-09 14:48] tbuckl opened #21 "identify other use cases for reading zip files of tables and, if found, move read_zip to generic r package."
these might be more generically useful than just GTFS:

https://github.com/r-transit/tidytransit/blob/master/R/import.R#L180-L241

https://github.com/r-transit/tidytransit/blob/master/R/import.R#L301-L316

something like:

[code]

[2018-09-09 14:50] tbuckl commented on #21
not really a package issue

[2018-09-09 14:50] #21 closed

[2018-09-10 03:29] tbuckl commented on #7
from https://github.com/r-transit/trread/issues/5

[2018-09-10 03:30] tbuckl commented on #7
renaming because i think in terms of the function arguments, this is going to be handled/merged in https://github.com/r-transit/tidytransit/pull/22 but we still need to slim down the 'sf' work to 'sfc'

[2018-09-10 03:47] #6 closed

[2018-09-10 03:47] #19 closed

[2018-09-10 03:47] tbuckl commented on #19
closed by https://github.com/r-transit/tidytransit/pull/22

[2018-09-10 04:22] tbuckl opened #23 "add codecoverage/assess need for more/better tests"

[2018-09-13 18:12] tbuckl opened #25 "specify in docs that imported gtfs files need to be in a zipfile"

[2018-09-13 22:28] mpadge commented on #25
This shouldn't be necessary, and the whole reading lists of csv's thing is also pretty easy to handle. Main problem for me at the mo is finding time to do this. I'll do my best within the next few weeks, but it might realistically be October or so. Anyway, all great and fabulous work here!

[2018-09-14 07:08] tbuckl commented on #25
sounds good thanks @mpadge

[2018-09-14 07:08] #25 closed

[2018-09-14 07:10] tbuckl commented on #25
we can always reopen if its unclear in the docs. for context, issue originally prompted by this issue: https://github.com/r-transit/tidytransit/pull/24

[2018-09-14 07:15] tbuckl commented on #25
@mpadge of course you would be familiar with lists/dirs of CSVs from https://github.com/ropensci/bikedata :)

[2018-09-30 14:29] tbuckl opened #27 "review and send new release to CRAN with @polettif date changes"

[2018-09-30 15:31] #27 closed

[2018-09-30 16:02] tbuckl commented on #23
this issue is too vague

[2018-09-30 16:02] #23 closed

[2018-10-02 05:11] tbuckl opened #29 "update docs on website"

[2018-10-02 05:12] tbuckl commented on #29
based on changes in 3.4

[2018-10-02 05:15] #29 closed

[2018-10-09 07:03] polettif opened #30 "Package description on github"
@tbuckl Should we change the package description on github? I don't think the package being sf compatible is its main focus. I'd suggest something like on tidytransit.r-transit.org:
"tidytransit reads the General Transit Feed Specification (GTFS) into tidyverse and simple features dataframes. Use tidytransit to map transit stops and routes, calculate transit frequencies, and validate transit feeds

[2018-10-09 22:06] tbuckl commented on #30
done! a bit long maybe? i can try to reword later

[2018-10-09 22:06] #30 closed

[2018-10-10 14:09] Robinlovelace opened #32 "A to B routing"
Sorry for potentially naive question but can this route from A to B with gtfs data?

Context: @mem48 and I are currently using OpenTripPlanner for this but it has quite a lot of overheads, but is very good for multi-modal routing (perhaps one day that will be possible in R).

[2018-10-10 18:46] Robinlovelace commented on #32
Thanks for the quickfire response and useful link. Handy!

[2018-10-11 08:11] mpadge commented on #32
This issue is much more difficult than it might at first seem, because there is generally no single way between A and B in public transport systems. This means it is not a typical "routing" problem, and no traditional routing algorithms or approaches can be applied here. A GTFS feed can be used to extract the route followed by a particular service, along with departure times, but whether or not a

[2018-10-17 06:46] tbuckl opened #33 "make transit service calculation defaults more flexible"
default frequency calculation fails if the service schedule isn't something like this kind of weekday (1,1,1,1,1,0,0). but services are potentially specified in broader ways.

it should default to something less restrictive by default and just calculate frequency for whatever it can.

[2018-10-29 04:04] #3 closed

[2018-10-29 04:04] #33 closed

[2018-11-20 05:37] tbuckl commented on #10
hi @angela-li i hope all is well. i had a good chat with a guy who runs MTC's regional GTFS program about frequency calculations. he pointed out all the difficulties with calculating frequency specifically for any given route. in some ways it makes any kind of consistent calculation difficult. i still think the calculations here might be useful to some users as a rough heuristic. but it might also

[2018-12-15 05:15] tbuckl opened #40 "message printed during frequency calculation should not default to 6 am to 10 pm"

[2018-12-15 05:16] tbuckl commented on #40
for example:

[code]

prints:
[code]

[2019-01-05 04:19] ashley-gentles commented on #10
@angela-li Hi Angela! I'm thinking of using tidytransit for a project, specifically for the frequency and headway calculations. Can you tell me about some of the ways that the frequency functions fail? I'd like to have a better understanding of how things might go awry. Thanks!

[2019-01-05 19:42] tbuckl commented on #10
Hi @ashley-gentles thanks for asking about this. @angela-li has provided a lot of great insight into the design of this package. So I look forward to hearing her thoughts here.

Also, understanding the quality of the frequency calculations and how they work, is one of the reasons I wanted to work on this project. I thought it might make a lot of sense for quality of service measures to be accessib

[2019-01-05 19:49] tbuckl opened #41 "update package for new dplyr release"
from rstudio:

This is an automated email to let you know that:

* A new version of dplyr is ready to go to CRAN. dplyr is
  currently at version 0.7.8 and will become 0.8.0 upon release.

* tidytransit uses dplyr and has problems with the new version.

* We plan to submit dplyr to CRAN on February 1.

This release represents about 9 months of development, detailed in
this blog post:
https://www.t

[2019-01-05 19:59] tbuckl commented on #10
@ashley-gentles @angela-li i updated the issue to be something more discrete that will get us closer to the goal. we can open other issues as they come up. i think this is still a bit exploratory and could result in a lot of new issues.

[2019-01-05 20:02] tbuckl commented on #10
here's a relevant study: http://docs.trb.org/prp/15-6045.pdf

[2019-01-11 21:35] tbuckl commented on #10
hi @ashley-gentles sorry, i think when i said service "quality" what i meant was actually just headways or frequencies.

thats a really cool idea about allowing users to review the quality of the headway or frequency estimate through an interactive app!

i have not played around with shiny much, but that might be a good place to start?

what i had in mind with this issue is: there are probably a b

[2019-01-11 21:41] tbuckl commented on #10
@ashley-gentles i'll be at [transportation camp tomorrow in DC](http://transportationcamp.org/) and will bring up your idea and point people to this issue. or feel free to create a new issue if you'd like to.

[2019-01-11 21:43] tbuckl commented on #10
@ashley-gentles you might also want to create your own repository to work out the app. you could import tidytransit if its useful to you.

[2019-01-27 23:52] ashley-gentles commented on #10
Hi @tbuckl, thanks for your help! Would you mind if I contact you more directly, by email?

[2019-01-28 16:21] tbuckl commented on #10
@ashley-gentles sure, my email is my name: tom
at, followed by my github handle
followed by .com

[2019-01-29 06:23] tbuckl opened #44 "change lubridate::hms calls to hms::hms calls"
as per the suggestions in https://github.com/r-transit/tidytransit/pull/42

[2019-01-30 07:01] tbuckl commented on #10
@polettif has already started this here: https://github.com/r-transit/tidytransit/pull/45

the goal would be to improve the example here: https://github.com/r-transit/tidytransit/blob/master/R/frequencies.R#L15-L19

and here: https://github.com/r-transit/tidytransit/blob/master/R/frequencies.R#L95-L99

so that users can clearly see how "headways" are being calculated by these particular functions.

[2019-01-30 17:09] polettif opened #47 "Reimplement hms frequency tests"
See #45 and #46

[2019-01-30 20:47] #40 closed

[2019-01-31 00:49] #41 closed

[2019-01-31 00:49] #44 closed

[2019-02-01 09:29] mpadge opened #49 "Use data.table to read feeds?"
[code]

<sup>Created on 2019-02-01 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

GTFS feeds can be enormous, and `data.table` makes a pretty huge difference - it'll read a feed nearly ten times faster!

---

This is also by way of starting a separate conversation about the potential future merging of [`gtfs-router`](https://github.com/ATFutures/gtfs-router) into this packag

[2019-02-04 01:47] tbuckl commented on #7
hey @mpadge is this the right issue title for [your question](https://github.com/r-transit/tidytransit/issues/49) about how to manage "merging" this package with other packages?

i think tidytransit ended up being more oriented toward users than developers, partially by the prompting of @angela-li to consider that a user would not want to have to import and think about multiple packages to just do

[2019-02-04 02:20] tbuckl commented on #49
thanks @mpadge this simple change decreased the devtools::check build time for the package in half.

[2019-02-04 02:20] #49 closed

[2019-02-04 02:58] tbuckl commented on #7
closing this issue and opening a new one because the top level message doesn't correspond to the issue title and i think we already do whats specified at the top, which is to allow routes to be processed as an option in read_gtfs.

[2019-02-04 02:58] #7 closed

[2019-02-04 03:00] tbuckl opened #51 "specify how to make this package more useful to package developers"
hey @mpadge is this the right issue title for your question about how to manage "merging" this package with other packages?

i think tidytransit ended up being more oriented toward users than developers, partially by the prompting of @angela-li to consider that a user would not want to have to import and think about multiple packages to just do basic mapping and frequency/schedule analysis.

i thi

[2019-02-04 03:02] tbuckl commented on #51
example specifications could include:

- change dependencies (e.g. sf)
- change how X file is read (e.g. dplyr vs data.table)

[2019-02-04 04:53] tbuckl commented on #51
hey @mpadge i updated [trread](https://github.com/r-transit/trread) to match all the commits in here, and then ripped out sf/spatial. that package gets about half as many downloads as this one. so i think its still kind of secondary this one but might be useful for developers to not have that sf dependency.

[2019-02-05 12:50] mpadge commented on #47
For what it's worth, the current [`gtfsrouter` package](https://github.com/ATFutures/gtfs-router), intended to be integrated in this package via #32, has a bunch of internal C++ routines for parsing and processing GTFS times. These are much faster than `hms` or `lubridate`, because the GTFS formats are strictly hard-coded, allowing for large efficiency gains over standard routines. These can all b

[2019-02-06 07:34] polettif commented on #32
That's awesome! What's the implemented algorithm, connection scan?

As to how to integrate it: I prefer combining all methods and use cases for gtfs within tidytransit. It's easier for users as they don't need to look up several packages for gtfs and we can re-use the "wrangling methods" you mentioned. On the other hand, issues and development might get a bit clogged so keeping it on a separate re

[2019-02-06 07:59] mpadge commented on #32
Thanks @polettif! I agree with the advantages of having `tidytransit` as a one-stop-shop for GTFS. But acknowledging your other concerns, I'll leave it where it is for now until I've got the API in a more stable state. One of my visions is in terms of a really strong "selling point" for this package: set envvars for your personal home and work stations, and you can just
[code]
or
[code]
And you'll

[2019-02-06 12:11] polettif commented on #32
Sounds good! I'd say we move discussion over to the gtfsrouter repo until you're ready to implement.

If I may add some design thoughts, I'd love to use gtfsrouter/tidytransit to analyse feeds on an aggregate basis. For example, isochrone/reachability maps or service quality analysis. Mainly things that are done by working on data frames. I'm not sure R is the best environment for single trip plan

[2019-02-06 12:13] polettif opened #54 "Remove _df and _sf suffix from dataframes and simple features data frames"
Is there a compelling reason to use the _df suffix for the data frames (e.g. `gtfs$stops_df`)?

[2019-02-06 13:22] mpadge commented on #32
Our future visions seem quite aligned: as stated in the [`gtfsrouter` README](https://github.com/atfutures/gtfs-router), "Among the additional aims of this repo are to quantify the dynamic stability of a GTFS network in time and space, and to identify “weakest nodes” as those where a temporal disruption propogates out to have the greatest effect throughout the broader network."

As for R not being

[2019-02-06 14:29] polettif commented on #32
Nice, I think we're on the same page then.

Sure! Don't get me wrong, the overhead OpenTripPlanner needs makes it hard to work with in a data scienc-y setting, let alone set it up in an quick and easy way (although you can run it offline as a localhost server). It's also really cumbersome to go through several factories and interfaces to even do basic analysis. I guess what I'm trying to say, let'

[2019-02-12 08:50] polettif opened #55 "Plot example not working"
Based on [this stackoverflow question](https://stackoverflow.com/questions/52892418/plotting-gtfs-object-routes-with-tidytransit-in-r).

[code]

with the plot function:

[code]

The problem seems to be twofold: routes_sf is missing by default and the headway calculations haven't been done.

[2019-02-17 23:17] tbuckl opened #56 "make get_* function names more consistent"
make `routes_df_as_sf` match the naming of `get_route_frequency`. this would be more logical/easier to understand. so, for example, `get_route_geometry`.

[2019-02-17 23:18] tbuckl commented on #54
@polettif i think this makes sense. i'd like to make other breaking changes as well such as: https://github.com/r-transit/tidytransit/issues/56

[2019-02-17 23:28] tbuckl commented on #55
thanks for finding this @polettif! this is a great example of how user might experience an api breaking change. i submitted a PR for this.

[2019-02-17 23:36] tbuckl commented on #51
@mpadge i'm going to close this out for now feel free to reopen if you want to discuss.

[2019-02-17 23:36] #51 closed

[2019-02-17 23:53] #55 closed

[2019-02-17 23:54] tbuckl commented on #32
hey @polettif and @mpadge i'm going to rename this as "general discussion around routing packages in r" since we're probably not going to implement routing in here.

i'd actually prefer to close it if thats ok, since it sounds like this is just a confusing place for it to be in any case (e.g. your discussion of transferring issues). feel free to reopen it if that doesn't make sense.

[2019-02-17 23:54] #32 closed

[2019-02-17 23:56] tbuckl commented on #16
closing this out for now

[2019-02-17 23:56] #16 closed

[2019-02-17 23:56] tbuckl commented on #10
closing this out for now.

[2019-02-17 23:56] #10 closed

[2019-02-18 00:00] tbuckl commented on #54
@polettif if you want to implement this i'd be happy to merge. i'm also fine to leave it as it is.

if we do this i think we should be very clear at lots of points in the documentation about the change.

that way we can avoid user more questions about api changes, though we should expect those anyway.

[2019-02-18 00:20] tbuckl opened #59 "release next version to CRAN"
@mpadge if there's anything that would make this more usable for you let me know.

[2019-02-18 16:36] polettif commented on #56
In addition, functions that return a modified `gtfs_obj`, mostly after they added a data frame, (like `validate_gtfs`, `gtfs_as_sf` or `set_hms_times`) should be named differently than methods that return a single data frame or something else but not the whole feed (like `get_date_service_table`).

As for your example, I'd avoid the `get_*` if the function returns a gtfs_obj.

[2019-02-19 19:06] #54 closed

[2019-02-19 19:09] tbuckl opened #61 "consider removing/renaming `_sf` suffix from calculated simple features dataframes"
it could be that there's a more intuitive/descriptive way of naming these dataframes.

[2019-02-20 13:32] #47 closed

[2019-02-20 18:46] tbuckl opened #63 "put calculated feeds in a sublist of the gtfs_obj"

[2019-02-21 07:50] polettif commented on #63
As an idea, we could put all calculated tidytransit data frames and objects in a sublist in gtfs_obj, like `gtfs_obj$tidytransit$frequencies` or something shorter? Same for `gtfs_obj$tidytransit$headways`. That way we don't clutter up the main object and we can avoid possible conflicts with already existing filenames. Plus, it's easier to see at once which data frames have been generated.

[2019-02-21 08:07] mpadge commented on #63
This is exactly the issue I'm grappling with with `gtfs-router` and the timetable data. My current inclination is to have a binary parameter, `process_feed = TRUE` or something with a clear explanation there if what is added to the actual feed data

[2019-02-24 22:38] tbuckl commented on #56
@polettif i like the idea of hinting at the returned object in the function name--so get_* returns single dataframes and something else returns full gtfs objects? what about gtfs_* returns a full gtfs object? then the three example you gave get prefixed/reordered to have gtfs_* at the front?

[2019-02-24 22:48] tbuckl commented on #61
closing this in favor of whatever solution we develop for "calculated" feeds in here: https://github.com/r-transit/tidytransit/issues/63

[2019-02-24 22:48] #61 closed

[2019-02-24 22:52] tbuckl commented on #56
@polettif i'm going to close the get_* part of this issue out and open another for gtfs_* objects or whatever we want to call it.

[2019-02-24 22:52] #56 closed

[2019-02-24 22:54] tbuckl opened #66 "consistently name functions that modify and return a full gtfs object"
as discussed [here](https://github.com/r-transit/tidytransit/issues/56) perhaps prefixing them with a gtfs_*

[2019-02-24 22:54] tbuckl commented on #66
these functions are: `validate_gtfs`, `gtfs_as_sf` or `set_hms_times`

[2019-02-26 19:50] tbuckl opened #68 "think about more efficient representations of gtfs"
https://medium.com/transit-app/how-we-shrank-our-trip-planner-till-it-didnt-need-data-84984ca56663

[2019-02-26 21:17] mpadge commented on #68
wow, that's great! Thanks for the link. It's not open source, however, at least not on [their github](https://github.com/TransitApp), so only really of use for them. Very interesting nonetheless.

[2019-02-27 04:26] tbuckl commented on #68
@mpadge indeed, upon reflection there's not much of actionable substance in that article. sorry about that! i totally fell for the clickbait! but still an interesting idea.

[2019-02-27 04:37] #68 closed

[2019-03-04 06:02] tbuckl commented on #66
most of these aren't exported or rdoc'ed anyways, and i'm not sure they need to be. so closing for now.

[2019-03-04 06:02] #66 closed

[2019-03-04 08:07] #59 closed

[2019-03-23 04:04] orlandoandradeb opened #72 "Stops and routes frequency calculation fails when routes have their own unique service ID's (e.g. Barcelona)"
Hello everyone  I am trying to plot the frecuency of buses that pass trough each stop.

The library suppose to add these data  when I  write  frecuency true  like below:
gtfs <-read_gtfs("gtfs.zip", local=TRUE, geometry = TRUE,  frequency=TRUE)

Theorically I will get a new data with the frecuency of buses per stop. However I get a error in the console that says :

Warning message:
In get_route_fr

[2019-03-23 04:42] tbuckl commented on #72
hi @orlandoandradeb can you provide a link to the GTFS.zip file you reference above?

[2019-03-23 04:44] orlandoandradeb commented on #72
Hello  @tbuckl  sure you can get them here:
https://transitfeeds.com/p/transports-metropolitans-de-barcelona-tmb/995/latest/download

[2019-03-23 05:02] tbuckl commented on #72
hi @orlandoandradeb thanks for submitting this. i'm not immediately sure why frequency calculation is failing on this GTFS data.

BUT, this feed already includes a "frequencies" data frame, with some pre-calculated route frequencies. these are probably better than what tidytransit would have estimated anyway.

lets say you want to look at frequencies per route. you could do this:

[code]

ill look

[2019-03-23 05:07] tbuckl commented on #72
here's how you would plot the frequencies:

[code]

[2019-03-23 05:13] tbuckl opened #73 "if a frequencies data frame exists, then use that by default instead of calculating another one"
see https://github.com/r-transit/tidytransit/issues/72

[2019-03-23 05:22] tbuckl opened #74 "make the frequency calculation error message more helpful"
see https://github.com/r-transit/tidytransit/issues/72

in this case, the message suggests filtering by service id, but that doesn't help.

[2019-03-23 05:32] tbuckl commented on #72
@orlandoandradeb it seems like maybe barcelona uses a different "service id" for each route in this gtfs feed.

you might want to join the`service` data frame to whatever your unit of interest is (for example, routes), in order to filter any of the tables above.

that may also be why frequency calculation is failing.

the frequency calculation in here tries to make a guess about a single service i

[2019-03-23 05:34] tbuckl opened #75 "test get_route_frequency on all the gtfs feeds in transitfeeds"
this would be a good way to estimate how its working.

[2019-03-23 14:07] mpadge commented on #73
Do you know of any example data sets that have a frequencies table? I haven't been able to find any yet...

[2019-03-23 15:30] tbuckl commented on #73
@mpadge yeah, barcelona seems to have one: https://transitfeeds.com/p/transports-metropolitans-de-barcelona-tmb/995/latest/download

[2019-03-23 21:51] orlandoandradeb commented on #72
Hello @tbuckl   I really appreciate your answer. With the code that you wrote I was avialabe to plot the frecuencies of the routes.  I have try to modifed  that code to get the stops frecuency but it has been a bit complicate for me.

I tryed with more GTFS with berlin, Vancouver and Madrid and I always got the same error, I mean I get the data frame well  but the function of stops frecuencies and

[2019-03-23 22:10] tbuckl commented on #72
thanks for the feedback @orlandoandradeb!

[2019-03-23 22:12] tbuckl commented on #72
@orlandoandradeb also, if you have time, please consider sharing some of the code you wrote (for berlin, vancouver, madrid, etc), so that others can benefit from what you've learned here.

[2019-03-24 03:12] tbuckl commented on #72
hi @orlandoandradeb i just checked Translink's GTFS feed and the frequency calculations seem to work.

for example:
[code]

can you provide links to the other GTFS feeds that did not work for frequency calculation?

[2019-03-24 03:16] tbuckl commented on #72
@orlandoandradeb Madrid also works.

e.g.
[code]

[2019-03-24 03:40] orlandoandradeb commented on #72
Hello @tbuckl  thanks again.
It so weird.      I understand that the library can read the files from a local direction or taking a url like in your example.   So, again theorically  just with copy and paste  the code  you posted above I will have to  convert thoses feeds in data frame but not.

I got this:

![Captura de pantalla (37)_LI](https://user-images.githubusercontent.com/48104481/54874605-

[2019-03-24 03:42] orlandoandradeb commented on #72
I run the library, I  put the function : read_gtfs with the url and with frecuency: TRUE

I am not really  expert in R , but I don´t see something wrong with the procedure.

[2019-03-24 03:45] orlandoandradeb commented on #72
about the code. I will be glad to uploadto share when I finish it. I have  made some nice graphs but  I have to do much more things first.

[2019-03-24 03:50] tbuckl commented on #72
@orlandoandradeb weird indeed! thanks for the screenshot.

[2019-03-24 03:57] tbuckl commented on #72
@orlandoandradeb one thing to keep in mind is that some of the feeds you want to work with are very large and detailed.

previously, when i've needed to run frequency calculations on large feeds quickly, i will rent time on a machine with a lot of memory and then run an r studio cloud instance on it. here's [a guide](https://github.com/BayAreaMetro/Data-Analysis-Projects/tree/master/rstudio-server

[2019-03-24 04:18] orlandoandradeb commented on #72
I am starting to think that is something related with versions of R.
I tried to do it in a Mac with worse results, the library doesn't  even run  haha  :/

I tried with my Windows computer with smaller feeds too such as Mexico City : https://transitfeeds.com/p/mexico-city-federal-district-government/70

with the same result,  it give me the data frame  but not the extra column of routes and stops

[2019-03-24 04:26] orlandoandradeb commented on #72
I found this code  for make a heat map of stops frecuncies :

stops_freq =
inner_join(stop_times,stops,by=c("stop_id")) %>%
inner_join(trips,by=c("trip_id")) %>%
inner_join(calendar,by=c("service_id")) %>%
select(stop_id,stop_name,stop_lat,stop_lon) #%>%

stat_density2d(data = stops_freq, aes(x = stop_lon, y = stop_lat, alpha=..level..), size = .5, color='black', bins=5, geom = "polygon", fill='bl

[2019-03-24 04:29] orlandoandradeb commented on #72
I got it  now with this:

stops_freq =

  inner_join(stop_times,stops,by=c("stop_id")) %>%

  inner_join(trips,by=c("trip_id")) %>%

  inner_join(calendar,by=c("service_id")) %>%

  select(stop_id,stop_name,stop_lat,stop_lon) %>%

  group_by(stop_id,stop_name,stop_lat,stop_lon) %>%

  summarize(count=n())

[2019-03-24 04:29] orlandoandradeb commented on #72
It works well  😀 😀 😀😀 🎉 🎉 🎉 🎉

[2019-03-24 05:58] tbuckl commented on #72
@orlandoandradeb glad you found something that worked! thanks for posting the code.

i think i've had that rlang error before. i can't recall what caused it, but i think it had to do with how i had my environment set up.

[2019-03-24 12:01] polettif commented on #72
It's quite often the case that service_ids don't indicate any pattern by themselves. Some feeds might even use a service_id for each day or each trip. A more general approach is to extract the "timetable date slots" (e.g. weekdays, weekends. holidays and so on) for each trip from the actual dates it runs on. FWIW I'm working on a vignette on this.

[2019-03-24 17:32] tbuckl commented on #72
@polettif awesome! looking forward to that vignette.

to make the frequency functions more robust against these cases, it could be that we just add some conditional logic [here](https://github.com/r-transit/tidytransit/blob/master/R/frequencies.R#L36-L44) to handle cases where a single service id doesn't relate to "trips" across the network.

[2019-03-24 17:34] tbuckl opened #76 "add a read_gtfs "name" parameter based on name in transitfeeds feedlist"
it would be nice to be able to just:

[code]

[2019-03-24 17:35] tbuckl opened #77 "memory limitations for large feeds--prompt users"

[2019-03-24 20:18] mpadge commented on #77
`data.table` should largely take care of this, because it allows out-of-memory access. Or if you want, I could easily code up a C++ version that would only read `stop_times.txt` line-by-line, so it wouldn't have to be pulled into memory. Let me know, or give me a good example of such a huge feed, and I'll happily delve in.

[2019-03-24 20:42] tbuckl commented on #77
@mpadge i did not know that about data.table.

i think the VBB feed is probably a good example of a large feed.

really any non-US transit system should be a good example ;)

i assume that would also require re-writing the [frequency calculation](https://github.com/r-transit/tidytransit/blob/master/R/frequencies.R) and service logic (currently in in dplyr) for data.table.

sounds like it might be

[2019-03-24 20:46] tbuckl commented on #77
@mpadge on the other hand maybe the `tidy-` prefix for this package should indicate to users already that we are using dplyr, and therefore have not leveraged `data.table` and that, therefore, this package is and memory-hungry (but not [lazy](https://en.wikipedia.org/wiki/Lazy_evaluation)?)

[2019-03-24 20:48] tbuckl commented on #77
@mpadge also, it would be cool to see a plot of size of GTFS feed vs ridership.

[2019-03-24 20:57] tbuckl opened #78 "memory limitations for large feeds--use data.table"

[2019-03-24 20:58] tbuckl commented on #78
see https://github.com/r-transit/tidytransit/issues/77 on why

[2019-03-25 07:14] tbuckl commented on #72
oh sorry @polettif i just noticed that you've already committed [a draft of that vignette](https://github.com/r-transit/tidytransit/blob/bf8a3cb40d1cd5d7f1a487308ee4a1c8f277a26f/vignettes/timetable.Rmd).

[2019-03-25 08:25] mpadge commented on #77
Scanning `stop_times.txt` in C++ is really very trivial, and can be done in relatively few lines of C++. But it is likely that `data.table` might do the job anyway. I've yet to encounter any feed too big to hold in memory - even Transport for London all fits in memory (although that's in a custom, non-GTFS format), and I doubt there are bigger ones than that. VBB fits easily. Maybe Barcelona is bi

[2019-04-01 08:04] polettif commented on #63
What's the status on this? While working on the timetable vignette I realized it's also easier if we know where to look for calculated data while also keeping the top level of gtfs_obj clean.

[2019-04-01 08:44] mpadge commented on #63
I implemented a simple local cache with the following code:

[code]
**BUT** the problem is that the `gtfs_stops` file is so big that calculating a [`digest`](https://github.com/eddelbuettel/digest) of that takes up to a few seconds, making caching no quicker than just re-calculating timetables anyway. (My [`gtfsrouter`](https://github.com/atfutures/gtfs-router) timetables are different to yours, b

[2019-04-01 14:18] polettif commented on #63
Thanks for pointing me to `digest`, looks like a better approach than the `openssl` implementation I was using.

Slightly off topic (as I'd like to discuss the `gtfs_obj$tidytransit$...`approach mentioned above) but wouldn't it be easier to hash the parameters used to generate the object (departure times, stops, ...) instead of the whole object?

[2019-04-01 16:28] mpadge commented on #63
Unfortunately, my firm belief is that for GTFS data, the whole object has to be hashed because it is highly likely that people will do their own filtering, especially on `stop_times`. Once that's potentially been done, hashing on anything else may well lead to catastrophe

[2019-04-01 20:33] tbuckl commented on #63
@polettif on my end i have not done any work on this so far. still seems like a great idea. not sure when i'll get to it, but it does seem pretty easy.

it might be a nice change to get in and then release to cran within 2 weeks or so?

i can maybe check on it over the next weekend or two.

[2019-04-01 21:09] tbuckl opened #79 "investigate potential benchmark for transit frequency (and source for walkability)"
https://www.epa.gov/smartgrowth/smart-location-mapping#Trans45

[2019-04-02 06:27] polettif commented on #63
Ok. I'll start using it on the the vignette branch then.

I see, good point.

[2019-04-02 07:16] polettif opened #80 "add basic write_gtfs function"

[2019-04-07 22:39] tbuckl commented on #79
could add the dbf with data as a source?

https://edg.epa.gov/data/Public/OP/SLD/SLD_Trans45_DBF.zip

and then import `tigris` and allow users to:

e.g.
[code]

[2019-04-07 23:15] tbuckl opened #84 "investigate potential to pull holiday schedules using atfuture/calendar"
https://github.com/ATFutures/calendar

[2019-04-08 00:17] tbuckl opened #86 "increment version and release to cran"

[2019-04-14 06:18] tbuckl commented on #79
its unclear how the "transit service" ranking is made in this feed and its a bit unclear to me how to directly relate it to headways.

[2019-04-14 06:18] #79 closed

[2019-04-14 19:29] #86 closed

[2019-04-14 19:29] #74 closed

[2019-04-14 19:29] #73 closed

[2019-04-14 19:29] #63 closed

[2019-04-16 20:16] tbuckl opened #90 "change vignette title from GTFS-Table-Introduction to Frequency Calculation"

[2019-05-10 15:11] #80 closed

[2019-05-20 03:14] #90 closed

[2019-05-20 10:48] stmarcin commented on #77
If you need a big feed for testing, the data from the Netherlands might be useful: http://gtfs.ovapi.nl/nl/
Its a combined feed for all the country and includes several agencies.
Note that there is no `calendar.txt` and only `calendar_dates.txt` file (`stop_times.txt` is about 900 MB)

[2019-05-27 09:34] stmarcin opened #98 "read_gtfs / encoding problem (?)"
Hello!
First - thanks for the great package.
I am trying to read_gtfs feed for metro Madrid (http://datos.crtm.es/). When reading, I got the following comment:

  No provided Route ID(s) were found.
          Please provide valid Route IDs.
In addition: Warning messages:
1: In gtfs_validate(gtfs_obj, quiet = quiet) :
  Invalid feed. Missing required field(s): service_id, service_id, fare_id, fare_

[2019-05-27 11:43] polettif commented on #98
I couldn't reproduce it on a Mac but the error on Windows points indeed to an encoding problem. Apparently, these files use a BOM at the beginning which leads to these weird prefixes. Setting the global encoding to UTF-8-BOM appears fix the issue:
[code]
However, BOMs should be handled somewhere during reading, I'll look into it.

[2019-05-27 11:50] stmarcin commented on #98
Thanks!
Problem solved.

[2019-06-05 01:20] #98 closed

[2019-06-27 21:39] tbuckl opened #104 "release a version update to cran"
probably this weekend.

[2019-06-29 17:29] #104 closed

[2019-07-16 20:15] znmeb opened #106 "Auto Service ID selection for frequency calculation fails on read for TriMet (Portland, Oregon GTFS)"
`tidytransit` version is Version: 0.5.1, installed from GitHub with `remotes`:

[code]

[2019-07-16 21:46] tbuckl commented on #106
thanks @znmeb looks like the auto-service selection isn't working on this feed. hard to say why without looking into it much. you can, however, pass a "service_id" like so:

[code]

[2019-07-16 21:48] tbuckl commented on #106
@znmeb you may want to look into @polettif's excellent vignette as you think about how to select services that are relevant for you on this feed.

http://tidytransit.r-transit.org/articles/servicepatterns.html

its a bit of an art. would love to hear more about it if you end up figuring out how to select a service.

[2019-07-16 22:07] znmeb commented on #106
Yeah - there's no `calendar.txt` in the TriMet GTFS feed either. That tripped up https://github.com/ATFutures/gtfs-router.

[2019-07-16 22:48] tbuckl commented on #106
I don’t think guys was ever designed to answer the kinda of questions we want to answer. But that doesn’t mean we can’t try!

[2019-07-22 02:03] tbuckl commented on #78
closing as stale

[2019-07-22 02:03] #78 closed

[2019-07-22 02:18] tbuckl commented on #84
close because stale

[2019-07-22 02:18] #84 closed

[2019-07-22 02:18] tbuckl commented on #76
closing because stale

[2019-07-22 02:18] #76 closed

[2019-07-22 02:18] tbuckl commented on #75
closing because stale

[2019-07-22 02:18] #75 closed

[2019-07-22 06:30] polettif commented on #106
That's the reason why tidytransit::travel_times uses an exact and not service_ids. @tbuckl we might need to update get_stop_frequency for a more general approach (or at least fail with a warning) since days-of-week doesn't seem work with "non normal" (but still valid) feeds like TriMet.

[2019-07-22 17:58] tbuckl commented on #77
closing. see https://github.com/r-transit/tidytransit/pull/107 for why and a potential future fix if desired.

[2019-07-22 17:58] #77 closed

[2019-07-22 18:05] tbuckl opened #108 "re-write the frequency vignette and improve introduction vignette"
see https://github.com/r-transit/tidytransit/issues/106 for more

[2019-07-22 18:06] tbuckl commented on #106
@polettif totally. i probably won't have bandwidth to do that but will create an issue for it https://github.com/r-transit/tidytransit/issues/108

[2019-07-22 18:08] tbuckl commented on #108
@polettif i created this issue and tagged all the other open issues with `frequencies` in order to clarify the project.

[2019-07-22 18:09] tbuckl commented on #108
i've said this before, but i think the issue is that GTFS wasn't designed to calculate frequency of service. so when feeds show up for which it doesn't work, i'm not that surprise. its not that they are "non-standard." quite the contrary. the standard is just not built for frequencies. in the package, its calculation is a hack.

[2019-07-23 06:42] polettif commented on #108
Thanks for clearing up the issues.

Yeah, I'd say so too. Personally, I haven't come across many feeds using frequencies.txt to begin with, probably because they offer less flexibility. And calculating general frequencies from stop_times is, as you said, pretty difficult...

[2019-08-16 06:00] mgageo opened #110 "trip_id incompatible types"
Hello,
With a small gtfs file, I can't plot th network:
`Calculating headways and spatial features. This may take a while
Calculating route and stop headways.
Erreur : Can't join on 'trip_id' x 'trip_id' because of incompatible types (numeric / character)`

the script

`library(tidytransit)
library(tidyverse)
dsn <- 'https://framagit.org/mgageo/osmdata/raw/master/OSMDATA/gtfs.zip'
fic <- tempfile(

[2019-08-16 17:39] polettif commented on #110
Thank you for bringing this up. There seemed to be a problem with UTF-8 BOM. A similar problem to #98) which leads to trip_ids (first column) being read as numeric. I'll fix it with a pull request.

[2019-08-16 19:56] #110 closed

[2019-08-17 05:14] mgageo commented on #110
Thank you for this rapid response

[2019-08-19 07:36] polettif opened #112 "travel_times and raptor returning tibble"
Since the whole package works with tidyverse tibbles, `travel_time` and `raptor` should return tibbles as well. While data.table is awesome, its column/row subsetting rules clash a bit with normal data.frames. Maybe a `return_DT=FALSE` param could be added to those functions.

[2019-09-23 06:31] #112 closed

[2019-09-23 07:49] polettif opened #115 "create shapes_sf if available"

[2019-09-23 07:56] polettif commented on #108
What's the status on this @tbuckl? Because I started working on generalising sf data and I ran into several problem with it because route frequency, stop frequency and their generating and plotting functions are intertwined quite a bit. This wouldn't be a problem as such but since not all feed have shapes and frequencies it's hard to make it work for basic feeds.

I'd like to make the following ch

[2019-09-24 22:10] tbuckl commented on #108
@polettif this is a pretty big issue, so i haven't had time to tackle it. i'm glad you've thought a bit about how to break it up below. i can imagine a number of issues coming out of this discussion.

thoughts on your proposed changes:

1) this is a good point. i'm of two minds about it. first, i think we'd need to develop a strong reason to deprecate functionality that is optional and [currently

[2019-09-24 22:42] tbuckl opened #116 "remove frequency calculation from plot.gtfs"

[2019-09-24 22:42] tbuckl opened #117 "print message on frequencies as approximations to console when frequency calculation selected by user"

[2019-09-24 22:43] tbuckl opened #118 "if routes_sf includes frequency calculations, remove frequency calculations"
should be able to stand on its own

[2019-09-24 22:45] tbuckl opened #119 "make "most common" service id selection better"
by necessity, this will be solved by approximation.

we might want to 1) alert users to the approximated service selected and its characteristics. perhaps as a "head()" of the service qualities. and 2) develop the right technique to identify this kind of service id across all feeds through an analytical approach that is "most general" to all feeds.

[2019-09-24 22:45] tbuckl commented on #106
related to https://github.com/r-transit/tidytransit/issues/119

[2019-09-24 22:49] tbuckl opened #120 "develop an understanding of the average error of frequency calculation"
one quick way to do this would be to compare, for feeds with existing frequencies data frames, what the diff is between calculated and actual.

[2019-09-26 09:21] polettif commented on #108
Thanks for your reply. I didn't consider backwards compatibility enough, good point.

Sorry, I didn't phrase it right, I wasn't referring to the GTFS standard in any way. Currently get_route_frequency and get_stop_frequency use default parameters to calculate frequencies which are not documented enough, IMO. While those defaults might be reasonable, it's not trivial to extract the service period y

[2019-09-28 14:18] tbuckl commented on #108
@polettif ah, i see. you're right! the process for many (if not all) feeds should be to let the user 1) read the feed 2) determine for themselves the right service id and then 3) calculate frequency or route geometry as they need. i can imagine re-working the introductory vignette in such a way. then we can deprecate the frequency=TRUE/FALSE flag over time. i'll rework the issues to reflect this p

[2019-09-30 21:03] tbuckl commented on #119
instead, doing this: https://github.com/r-transit/tidytransit/issues/108

[2019-09-30 21:03] #119 closed

[2019-09-30 21:03] #118 closed

[2019-09-30 21:06] tbuckl commented on #106
the long term plan is to deprecate the frequency flag and direct users through usage of service id selection https://github.com/r-transit/tidytransit/issues/108

[2019-09-30 21:06] #106 closed

[2019-09-30 21:07] tbuckl commented on #72
the long term plan is to deprecate the frequency flag and direct users through usage of service id selection #108

[2019-09-30 21:07] #72 closed

[2019-09-30 21:07] tbuckl commented on #117
the long term plan is to deprecate the frequency flag and direct users through usage of service id selection #108

[2019-09-30 21:07] #117 closed

[2019-09-30 21:07] tbuckl commented on #120
this is too big of a project. the long term plan is to deprecate the frequency flag and direct users through usage of service id selection #108

[2019-09-30 21:07] #120 closed

[2019-09-30 21:08] tbuckl opened #122 "deprecate the frequency flag in read_gtfs()"
see #108

[2019-10-14 06:53] #122 closed

[2019-10-14 06:53] #116 closed

[2019-10-14 06:53] #108 closed

[2019-10-27 16:49] tbuckl opened #128 "timezone issue with raptor test"
from cran:

See https://cran.r-project.org/web/checks/check_results_tidytransit.html

Note that the failing run was in Europe, where there was a DST
transition this morning.

Please correct ASAP and before Nov 10 to safely retain the package on CRAN.

[2019-10-27 18:36] mpadge commented on #128
That's so impressive that your tests can pick that up!! I'm going to have a look at that code and check out how you managed that. Nice work!

[2019-10-28 08:07] polettif commented on #128
I was hoping `hms::hms` doesn't have those timezone quirks. It seems the expected time values in the tests are not converted correctly with [parse_hms](https://github.com/r-transit/tidytransit/blob/bdfd5523b40b8bc4efc44d1396175ffe975f75b0/tests/testthat/test-raptor.R#L136-L143) while the actual calculated values are correct. But then again, the same code snippets above don't throw errors.

The err

[2019-10-28 08:44] mpadge commented on #128
Ah, i see - it's just your tests. `hms::parse_hms` accepts objects of the `hms` class, and so coerces these as `difftime` objects. These in turn have a [`tz` argument](https://stat.ethz.ch/R-manual/R-devel/library/base/html/difftime.html), which is by default [`Sys.timezone(location = TRUE)`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/timezones.html). All you need to do is hard-code t

[2019-10-28 10:40] #128 closed

[2019-10-28 10:40] polettif commented on #128
Thanks! Glad to hear it's the tests. I decided to simply use the numeric values instead of unnecessarily parsing and converting strings.

[2019-10-31 09:57] #115 closed

[2019-12-10 12:36] ssulikova opened #137 "Package does not load"
Hi, I  tried installing and loading tidytransit several times today and it  does not seem to work.

It installs, both when I load the CRAN and the devtools (devtools::install_github("r-transit/tidytransit")) version.

But when I  try to load the package, I get the following error:

"Error: package or namespace load failed for ‘tidytransit’:
 object ‘unzip’ is not exported by 'namespace:zip'"

[2019-12-10 14:54] polettif commented on #137
This seems to be an issue with your locally installed `zip` package. Tidytransit uses zip::unzip which requires version ≥ 2.0. Does reinstalling zip fix your issue?
[code]

[2019-12-10 17:23] ssulikova commented on #137
It  does! Thanks so much.  I clearly have no clue what I’m doing.

On 10 Dec 2019, at 14:54, Flavio Poletti <notifications@github.com<mailto:notifications@github.com>> wrote:

This seems to be an issue with your locally installed zip package. Tidytransit uses zip::unzip which requires version ≥ 2.0. Does reinstalling zip fix your issue?

remove.packages("zip")
install.packages("zip")
library(tidyt

[2019-12-10 17:24] #137 closed

[2019-12-15 06:59] tbuckl opened #138 "get_feedlist is broken"

[2020-04-01 18:04] tbuckl opened #145 "identify source of CRAN check errors, resolve and resubmit"

[2020-04-02 09:55] rsbivand commented on #145
In doing revdep checks for spatial packages, including **sf**, I see errors probably not related to **sf**. I ran the revdep check first with released **dplyr**, then with the state of github/master of **dplyr** from March 31 (a change was made there to remove a regression in **sf** caused by **dplyr**. Regretably, this wasn't what was causing your error, but I thought I'd let you know, as join op

[2020-04-02 21:55] tbuckl commented on #145
thanks @rsbivand!

[2020-04-14 02:16] krlmlr commented on #145
I'm sorry the tibble update may have triggered removal of tidytransit from CRAN. Let me know if I can help.

[2020-04-14 04:53] tbuckl commented on #145
thanks for reaching out @krlmlr. i've been a bit preoccupied with covid, etc, as i'm sure everyone else has too. but glad to hear that the CRAN machine and the tidyverse march on regardless!

i took a look this past weekend and wasn't really sure what version of 'sf', 'tibble', etc, i needed to peg my package at and test it.

can you give me a spec of what i should be testing against?

in terms of

[2020-04-14 05:01] tbuckl commented on #145
@rsbivand is there an example package out there that uses sf, tibble and vctrs that i could look at as an example?

[2020-04-14 05:09] krlmlr commented on #145
For the CRAN submission you need CRAN sf (0.9-1) and CRAN tibble (3.0.0). If your package uses dplyr, you might want to ensure that it *also* works with dev dplyr and dev sf (from GitHub).

What errors are you seeing?

[2020-04-14 05:14] tbuckl commented on #145
for the moment its 'sf' install errors. but will check back in when i know more.

[2020-04-14 05:15] tbuckl commented on #145
all the more reason to remove the 'sf' dependency! ;)

[2020-04-14 05:31] tbuckl commented on #145
error below. @polettif can you look into whether this test is critical, or if we can remove it an resubmit to CRAN until we can get this resolved? i'd prefer to just remove the test/function and resubmit to CRAN if it will take a long time to debug.

[code]

[2020-04-14 05:39] krlmlr commented on #145
I'm about to introduce a compatibility fix for this particular pattern, which seems to occur far more frequently than anticipated. Going to CRAN in a few days.

[2020-04-14 05:44] krlmlr commented on #145
On the other hand, the object used for assignment is a character vector, and we likely want coordinates to be represented as numbers?

[2020-04-14 08:25] polettif commented on #145
@krlmlr Thank you. You're right, using a "mixed" vector is sloppy. I changed an additional line in #147

As for sf/tibble versions: The PR above should fix the tibble 3.0 issue, as far as I can tell. I don't know much about sf though, I'm actually having trouble installing sf's dev version on my machine as well.

[2020-04-14 09:22] krlmlr commented on #145
Currently you shouldn't need the dev version of sf. To add a feature column to a tibble, sf must be loaded, otherwise you might see "`x` must be a vector, not a `sfc_.../sfc` object.".

[2020-04-14 16:52] tbuckl commented on #145
thanks @polettif i can take a look tonight at whats going on with the failing tests (presumably GDAL/sf install) this weekend if not sooner.

[2020-04-14 16:58] tbuckl commented on #145
seems resolved by https://github.com/r-transit/tidytransit/pull/147

[2020-04-14 16:58] #145 closed

[2020-04-14 17:11] tbuckl commented on #138
no, its not.

[2020-04-14 17:11] #138 closed

[2020-07-03 03:40] civiliaInc opened #152 "package ‘tidytransit’ is not available (for R version 3.5.1)"
install.packages("tidytransit")
Warning message:
package ‘tidytransit’ is not available (for R version 3.5.1)

On which version of R is that safe to install?
Thanks,
Xavier

[2020-07-06 02:03] tbuckl commented on #152
@civiliaInc hi Xavier, you'll need to install R 3.6.0 or later to use the current version.

if you are stuck with 3.5.1, it may be that you could use a previous version of tidytransit, by installing like this:
`
install.packages("tidytransit", version='0.6.0')`

[2020-07-06 20:50] civiliaInc commented on #152
Thank you Tom for this fast reply, that fixed the issue.

[2020-07-06 20:50] #152 closed

[2020-07-27 06:15] tbuckl opened #155 "point tidytransit.r-transit.org at github pages rendered by github actions"

[2020-09-02 07:44] mpadge opened #156 "Bundle pfaelde for map matching of routes"
---Just an idea---
The excellent [`pfaedle` library](https://github.com/ad-freiburg/pfaedle) uses OSM input to do precise map-matching between GTFS stops. It's GPL-3 licenced, so could be bundled here without infringement.

### what it would do

`shape` tables don't exist for all feeds, and even where they do, are often just made from straight lines between stops. [`pfaedle` library](https://githu

[2020-09-03 06:48] polettif commented on #156
That's a great idea. I've been using pfaedle in other workflows and it's really quite nifty. However, I don't have any C++ or Rcpp skills, so any help would be greatly appreciated.

Maybe a function interface to a pfaedle's command line calls (or something like that) whitout bundling it with tidytransit could be a first step.

[2020-09-03 08:54] mpadge commented on #156
That would be quite difficult to get that on CRAN, because you'd need to automate the system install for all checks anyway, which wouldn't be much less difficult that just bundling. I'll definitely try to find time to do it soon-ish - feel free to ping me anytime if you think i might be taking too long.

[2020-09-03 14:38] polettif commented on #156
Ah, just don't include it in the tests ;) Nah that's a good point. Plus, pfaedle's not in rapid development anymore anyways so bundling's fine.

Thanks! I'll keep this earmarked.

[2020-09-14 12:44] AlexandraKapp commented on #156
Sounds like a great idea! Generally this could be interesting for us, but probably not the most importpant currently.

[2020-12-04 13:00] tbuckl commented on #155
seems like this really isn't documented very well yet, so i'm just going to wait until it is https://community.rstudio.com/t/pkgdown-to-github-actions/69320

[2020-12-05 00:08] #155 closed

[2021-03-16 21:40] dhersz opened #163 "write_gtfs() is not being exported"
I have noticed while trying to test `write_gtfs()` that the function is not being exported right now.

This commit (https://github.com/r-transit/tidytransit/commit/58d19b64a611ac9b9bf3a049297bda259c6bc38c) un-exported both `write_gtfs()` and `gtfstools_write_gtfs()`.

[2021-05-10 07:59] #163 closed

[2021-05-18 18:37] 3ChordP opened #166 "add get_route_frequency() and document deprecation"
Function get_route_frequency() was available in 0.7.3, but I'm not seeing it in 1.0.0.

[2021-05-18 19:08] tbuckl commented on #166
@3ChordP yes, we've deprecated that function. @polettif recently made some major changes to how GTFS data are read by importing gtfsio. while doing so, he developed some questions about route_frequency that i was not able to answer in time, yet i did not want to block his release, so we deprecated it. we could add it back in. do you have a specific use case you can share that would help us underst

[2021-07-15 18:28] bpb824 opened #169 "fix tests and put package back on CRAN"
Is anyone working on resolving the unit test failures? I could help but don't want to duplicate work.

https://cran.r-project.org/web/packages/tidytransit/index.html

[2021-07-15 22:29] tbuckl commented on #169
that would be great @bpb824! happy to add you as an author/contributor/maintainer as necessary. can you fork and submit a pull request that would fix? @polettif you mind if we switch over the maintainer to @bpb824 and move me to an author role?

[2021-07-16 06:46] polettif commented on #169
The issue has been fixed in [this commit](https://github.com/r-transit/tidytransit/commit/e6176e7ef15817a0bc1a5b3fd5e9974e911d425c) on #168. I wasn't aware of it and encountered it while working on the branch, so I don't recall what the issue was exactly. Are there any other fixes necessary?

The development branch is still failing, so maybe a hotfix to get this back on CRAN is the way to go?

[2021-07-16 07:24] polettif commented on #169
[code]

This seems to be an issue with datatable on [windows-latest (devel)](https://github.com/r-transit/tidytransit/pull/168/checks?check_run_id=3083871838#step:9:111), 3.6 and 4.0 run fine. So I think we could merge #168

[2021-07-21 16:51] polettif commented on #169
v1.1 is ready to go. However, there is some (unexpected) additional documentation required, so the CRAN release is still in progress.

[2021-07-26 11:26] polettif commented on #169
[v1.1 is on CRAN ](https://cran.r-project.org/package=tidytransit) ✅

[2021-07-26 11:26] #169 closed

[2021-08-09 22:41] tbuckl commented on #166
closing this issue due to lack of actionable feedback

[2021-11-12 08:10] polettif opened #172 "transitfeeds.com?"
Does anyone know what happened to [transitfeeds.com](transitfeeds.com)? The website seems still up but you can't sign in and the linked github repo no longer exists. So it's not possible to create new API keys.

I'm asking because it might be better to remove tidytransit's [transitfeed functions](https://github.com/r-transit/tidytransit/blob/master/R/transitfeeds.R) if the service is no longer ava

[2021-11-12 12:30] mpadge commented on #172
I saw an article in the transition phase saying that transitfeeds had been "bought out" (pretty sure those were exact words) by transit.land. Suggestion was identical service, new provider name. Hasn't been my experience to date, but seems to be all there is in OS-GTFS for now

[2021-11-12 14:13] polettif commented on #172
Ok, thanks @mpadge for the info!

I guess there's no urgency but I'm tempted to remove transitfeed functions for the following reasons:
- They're not [really covered by tests](https://app.codecov.io/gh/r-transit/tidytransit/blob/master/R/transitfeeds.R) and currently there's no way to improve that since the whole situation seems quite opaque.
- They're not essential to use tidytransit, you just ne

[2021-11-12 20:00] michaelgaunt404 commented on #166
@tbuckl Hi, came back to this package after not using it for a couple of months and saw that this function is deprecated.
I used this package a lot to perform transit simulations and really appreciated that function to provide headway statistics that I could use in my sims.

Any reason why running the older version of the package may or may not be a good idea?
If I grabbed that function from the o

[2021-11-15 08:28] polettif commented on #166
I'll chime in on what lead to the function being removed with v1.0 (more on this in [#108](https://github.com/r-transit/tidytransit/issues/108#issuecomment-535418406)): Basically, `get_route_frequency` and `get_stop_frequency` use(d) default parameters and built-in assumptions to calculate frequencies which weren't really documented properly or changeable. For example, `mean_headway` was rather a

[2021-11-17 10:13] polettif commented on #166
After some [further digging](https://twitter.com/sharon000/status/1448124541163692040) I realized that while removing the function was necessary for a swift release of v1.0 but we did lose functionality (and a vignette...) in the process. I'll update `get_stop_frequency` and `get_route_frequency` and re-add it to the package.

[2021-11-22 09:01] #166 closed

[2021-11-22 21:46] tbuckl commented on #166
agree with @polettif that such parameter-heavy analysis is better handled with a per-instance/feed approach

[2021-11-25 13:22] derhuerst opened #175 "potentially wrong handling of GTFS Time values"
[GTFS Time is not defined relative to midnight, but relative to noon - 12h](https://gist.github.com/derhuerst/574edc94981a21ef0ce90713f1cff7f6). While that makes "writing" GTFS feeds easier, it makes processing a lot harder.

**Expected functionality**

As explained in my [note about GTFS Time values](https://gist.github.com/derhuerst/574edc94981a21ef0ce90713f1cff7f6), with the `Europe/Berlin` tim

[2021-11-25 13:23] derhuerst commented on #175
If this is not the case, please excuse me for the noise, and close this Issue!

[2021-11-25 13:24] derhuerst commented on #175
same problem in other libs:

- https://github.com/TheTransitClock/transitime/issues/228
- https://github.com/linkedconnections/gtfs2lc/issues/110
- https://github.com/derhuerst/gtfs-via-postgres/issues/6

[2021-11-25 13:58] mpadge commented on #175
Thanks @derhuerst, that's all very concerning! I don't have time right now to look further, but will definitely be keeping an eye on here to see where this takes us. It must also affect `gtfsrouter`, because i don't explicitly take care of that kind of situation. A general solution would be really helpful for all.

[2021-11-25 16:11] derhuerst commented on #175
I can relate. 😄 I keep forgetting the details of this weird date/time handling after a while, and have to get familiar with it again.

Both, right? Providers/authors need to know about this when transferring their timetables into GTFS, and consumers need to know about it when processing GTFS.

I'm not sure about `frequencies.R`, but `raptor.R` works with absolute times, right? How would you otherw

[2021-11-25 16:58] mpadge commented on #175
Totally agree on your concluding statement @derhuerst!

[2021-11-26 11:12] polettif commented on #175
Yes, of course. I guess my point is that tidytransit should just handle feeds "as is" and not try to fix incorrect data. I'm still not sure if that point really applies though 😅

Well, it doesn't handle routing across date boundaries... However, that's not explicitly documented. The date used in `filter_feed_by_date` isn't the actual date but the date a trip belongs to ("Betriebstag"). It filters

[2021-11-26 11:49] derhuerst commented on #175
Just to prevent a misunderstanding:
A GTFS provider can author perfectly valid GTFS data that follows GTFS's definition of day-relative time, and AFAICT tidytransit wouldn't parse it correctly; This is not about handling the feed "as is", as there is no other reasonable assumption for tidytransit to make than assuming that a GTFS feed follows the GTFS spec.

If you're talking about programmaticall

[2021-12-12 02:56] tbuckl opened #176 "consider permanently moving route_frequency vignette to a blog post"
step 1: remove the function/vignette/or just the section focused on get_route_frequency().

step 2: deploy a bookdown repo for vignettes like this so that they don't gum up the development of the package.

i anticipate that i probably won't have time for this for a few months at least but will see if i can get to it sooner.

see further discussion [here](https://github.com/r-transit/tidytransit/pu

[2021-12-12 03:12] tbuckl commented on #176
whoops i misunderstood, you changed the minutes headways to seconds--seems like its fine actually. sorry!

[2021-12-12 03:12] #176 closed

[2021-12-22 05:29] gabbyaz opened #177 "Issue when only relying on calendar_dates.txt for set_dates_services"
Hello,

I was working with a GTFS feed that only had a calendar_dates.txt file - in the absence of the calendar.txt file, this file should be able to be used in read_gtfs() (when exception != 2).

However, I got an error when working with the file (GTFS feed for LIRR in NY). A reproducible example is below:

[code]

The error is:
[code]

In the set_dates_services source code, I noticed the followi

[2021-12-22 07:59] polettif commented on #177
Thanks for your well explained issue, I can reproduce it. There might be another problem is with R's autocompletion of list element names:
[code]
I'll look into it.

[2021-12-22 12:40] polettif commented on #177
I get the following result with the fix in the linked pull request:
[code]

`gtfs_obj$exception_type != 2` without `calendar_dates` was indeed the main issue.

[2022-01-05 01:39] paragemini opened #179 "Error thrown when reading CTA GTFS data : Chicago"
I have a GTFS zip file

[code]

It throws the following error :

[code]

Even though the zipped version has the file that the error is asking for but for some reason it is looking for an HTML file , with txt suffix? Please help

File downloaded is from here
https://www.transitchicago.com/downloads/sch_data/

[2022-01-10 07:41] polettif commented on #179
This looks like an issue in gtfsio:

[code]
I can't really see why it happens though, `import_gtfs` should ignore all files without txt extensions. I'll see what I can do. You could use this workaround in the meantime:

[code]

Note that the feed doesn't comply to the [gtfs standard](https://developers.google.com/transit/gtfs/reference#file_requirements), only comma-delimited txt files are allowed

[2022-01-10 09:51] #177 closed

[2022-01-10 12:50] polettif commented on #179
This workaround is way easier, using the `files` parameter instead of rezipping the whole feed:

[code]

[2022-07-11 11:15] #172 closed

[2022-09-12 16:53] orlando-sabogal opened #187 "Travel time with GTFS"
I have a GTFS file for Mexico City downloaded from transitland.

I want to use the GTFS to calculate travel times. Nevertheless, the GTFS does not seem to work with any of the R-based libraries (gtfsrouter and tidytransit). I have not been able to get travel times between two locations, between two stations, or between a transit station to any other station.

I originally asked the question on sta

[2022-09-13 09:55] polettif commented on #187
Thanks for bringing this up. I think the problem is that your feed doesn't contain a transfers table. While a feed without transfers is unlikely to provide good routing results, `travel_times` should still work. So this is an issue we should fix.

In the meantime you can use this fix:

[code]

Another note: `cluster_stops` does not actually fix anything in a feed, it's just a tool to find clusters

[2022-09-14 06:48] polettif commented on #187
Small correction: It is indeed possible to use `cluster_stops` to fix stop names if you use `cluster_colname = "stop_name"` (thus overwriting `stop_name`) as you did in your example. This is better than turning `stop_dist_check` off. Though I'd still recommend checking whether clusters make sense before doing further analysis.

[2022-09-22 14:32] #187 closed

[2022-10-25 09:57] MSchroembges opened #189 "Error using raptor for batch travel time matrix calculation"
I am using raptor to calculate a traveltime matrix for a large gtfs dataset. When trying it out I noticed a difference in the output between
calulating a single start id
[code]

and calulating a batch of 100 stops and then filtering the id of the stop
[code]

ttm1 contains 3439 rows vs ttm2 only 2972 rows.

I am not sure, whether I am missing out something when passing the batch of stop ids. Is th

[2022-11-28 16:50] bartosz-mccormick opened #190 "Allow encoding parameter to be passed in read_gtfs()"
Hi! Would it be possible to add the parameter `encoding` to `read_gtfs()` which would then be passed to `gtfsio::import_gtfs()`? By default the value can be `encoding = "unknown"` or `encoding = NULL` to maintain existing functionality.

The current implementation leaves this parameter unspecified:

![image](https://user-images.githubusercontent.com/53804836/204334787-8f45833a-d051-4d81-b1c9-d7d99

[2022-11-29 16:59] mpadge commented on #190
But note that [the official reference](https://developers.google.com/transit/gtfs/reference#file_requirements) states that:

(Stuff like the above example of mucked up place names is generally a locale issue, caused by local OS settings, not by this or other packages. If "encoding" were to be set, I'd suggest it should be done only to internally hard-code UTF-8, and definitely *not* to allow users